@import "tailwindcss";

@theme inline {
  --color-background: #ffffff;
  --color-foreground: #000000;
  --color-tree-indent: #00000040;
  --font-sans: var(--font-abc-diatype);
  --font-mono: "Courier New", Courier, monospace;
}

a,
button,
input {
  @apply outline-none focus-visible:ring-2 focus-visible:ring-foreground;
}

a,
button {
  @apply cursor-pointer;
}
