@import "tailwindcss";

@theme inline {
  --color-background: #ffffff;
  --color-foreground: #000000;
  --color-tree-indent: #ccc;
  --color-window-background: #ffffff;
  --color-window-foreground: #000000;
  --color-window-border: #666;
  --color-window-title-background: #e6e6e6;
  --color-window-title-foreground: #333;
  --color-window-titlebar-button-hover: #ccc;
  --font-sans: var(--font-abc-diatype), sans-serif;
  --font-mono: var(--font-abc-diatype-mono), monospace;
}

a,
button,
input {
  @apply outline-none focus-visible:ring-2 focus-visible:ring-foreground;
}

a,
button {
  @apply cursor-pointer;
}
